:root {
  --thm-font: 'Poppins', sans-serif;
  --thm-reey-font: 'reeyregular';
  --thm-gray: #878c8f;
  --thm-gray-rgb: 135, 140, 143;
  --thm-base: #e66445;
  --thm-base-rgb: 230, 100, 69;
  --thm-black: #181918;
  --thm-black-rgb: 24, 25, 24;
}